mixin banner(modifier)
  -var content = modifier || {}
  -var img = content.img || ''
  -var title = content.title || ''
  -var text = content.text || ''
  -var advantages = content.advantages || ''
  -var promo = content.promo || ''
  .banner&attributes(attributes)
    .banner__image(style='background-image: url("'+img + ' ") ')
      .container.banner__container
        .banner__contentLeft
          .banner__textBlock
            -if(title) {
              h2.banner__title= title
            -}
            p.banner__text= text
          .banner__promoBlock
            p.banner__promoText= promo.text
            h3.banner__promoTitle= promo.code
            button.btn.banner__btn(type='button') Заказать зонок
        -if (advantages) {
          .banner__contentRight
            .banner__advantageBlock
              ul.banner__advantageList
                each item in advantages
                  li.banner__advantageItem
                    .banner__advantageIcon(style='background-image: url("'+item.img + ' ") ')
                    .banner__advantageTitle= item.title
                    .banner__advantageText= item.text
        -}
        .banner__linkBlock
          a.btn.banner__link.banner__link--left(href='#') Подробнее о деловом центре
          a.btn.banner__link.banner__link--right(href='#') Свободные офисы
          
