//- link
mixin link(options)
	-var options = options || {}
	-var href = options.href || '#'
	-var text = options.text || ''
	-var blank = options.blank ? '_blank' : false
	-var visible = options.visible === 'false' ? 'visually-hidden': ''
	a(href= href target= blank)&attributes(attributes)
		block 
		span(class= visible)= text
//- link item
mixin item-link(options)
	-var options = options || {}
	-var href = options.href || '#'
	-var text = options.text || ''
	-var visible = options.visible === 'false' ? 'visually-hidden': ''
	-var active = options.active ? 'active':''
		li&attributes(attributes)
			a(href= href )(class= active)
				span(class= visible)= text
				block

mixin image(options)
	-var options = options || {}
	-var src = options.src || ''
	-var width = options.width || ''
	-var height = options.height || ''
	-var alt = options.alt || ''
	-var desk = options.desk || ''
	-var laptop = options.laptop || ''
	-var tablet = options.tablet || ''
		picture
			-if(desk) {
				source(media='(min-width: 1440px)', srcset=desk)
			-}
			-if(laptop) {
				source(media='(min-width: 1024px)', srcset=laptop)
			-}
			-if(tablet) {
				source(media='(min-width: 768px)', srcset=tablet)
			-}
			img(src= src alt= alt width= width||false height= height||false)&attributes(attributes)
				


mixin checkbox(options)
	-var options = options || {}
	-var name = options.name || ''
	-var id = options.id || ''
	-var title = options.title || ''
	-var check = options.check || ''
	.checkbox&attributes(attributes)
		input.checkbox__input(type="checkbox" name= name id= id  checked= check)
		label.checkbox__label(for= id)= title
			block
mixin checkbox2(options)
	-var options = options || {}
	-var name = options.name || ''
	-var id = options.id || ''
	-var title = options.title || ''
	.checkbox2&attributes(attributes)
		input.checkbox2__input(type="checkbox" name= name id= id)
		label.checkbox2__label(for= id)= title
			block

